<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Login</h1>
	<nav id="navbar">
        <a href="/">INICIO</a>
		<a href="/music">MUSIC</a>
		<a href="/contact">CONTACT</a>
		<a href="/admin">ADMIN</a>
	</nav>
    <form action="/admin">
        <label for="user">Ingresa tu nombre</label>
        <input type="text" id="user" name="user">
        <button type="submit">Enviar</button>
    </form>
	<img src="/images/node.jpg" width="60%">
</body>
</html>