<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>No Access</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	
	<h1>No tienes privilegios para ingresar</h1>
	<nav id="navbar">
        <a href="/">INICIO</a>
        <a href="/login">LOGIN</a>
        
	</nav>
	<img src="/images/node.jpg" width="60%">
</body>
</html>
<h4></h4>